/*Responsive Movil*/
@media(max-width: 767px){
    body{
        background-color: aquamarine;
    }

    .caja-img img{
        width: 100%;
    }

    #blog-updates{
        width: 100%;
    }

    #connect{
        width: 100%;
    }
}